/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
@font-face {
  font-family: 'Cheboygan';
  src: url('fonts/Cheyboga.ttf') format('truetype');
}
@font-face {
  font-family: 'BookmanRegular';
  src: url('fonts/BookmanRegular.ttf') format('truetype');
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.more,
h2,
a {
  font-family: Cheboygan;
  color: rgb(221, 98, 28);
}

h2 {
  font-size: 3em;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding: 25px;
  /*background-color: rgb(173, 173, 173);*/
}
h1,
p {
  font-family: Cheboygan;
}
.wrapper {
  padding: 0 10%;
}
.about-wrapper {
  margin: 50px 0;
}
.about-link {
  margin-right: 7px;
}
.logo {
  margin-left: 5%;
  border-bottom: 1px solid black;
  display: inline-block;
  font-size: 4em;
}

header {
  margin-bottom: 50px;
}
header > h1.logo > a {
  color: black;
}
header > h1.logo > a:hover {
  color: black;
  text-decoration: none;
}
header > h1.logo > a:visited {
  color: black;
  text-decoration: none;
}
header > h1.logo > a:active {
  color: black;
  text-decoration: none;
}
.about-page > header {
  margin-bottom: 0px;
}
.about-email {
  margin-left: 5%;
  margin-bottom: 25px;
}
.about-wrapper > section {
  padding-left: 0px;
}
.about-wrapper > section > a {
  font-size: 1.2em;
}
.dingbats {
  margin-bottom: 50px;
}
.gray {
  color: gray;
}
.about-email > section {
  padding-left: 0px;
}
.about-email > section > p {
  margin-bottom: 0rem;
  font-size: 1.2em;
  color: rgb(221, 98, 28);
}
.black-q {
  color: black;
}

.play-img {
margin-left: 5px;
margin-right: 15px;
position: relative;
bottom: 5px;
}
p.episode-info {
  font-family: BookmanRegular;
  font-size: 1.2em;
  display: inline;
}
.episode {
  margin-bottom: 35px;
}

.intro-text > p {
  font-size: 1.2em;
  margin-bottom: 0.2rem;
}

.head-img {
  position: relative;
  bottom: 50px;
}

.episodes {
  display: inline-block;
  margin-bottom: 25px;
}
.episode-title {
  font-size: 1.3em;
  letter-spacing: 5px;
}

.two-image {
  margin-right: 15px;
  position: relative;
  bottom: 15px;
}

.episode-title {
  font-weight: bold;
  text-decoration: underline;
  font-family: Cheboygan;
}

.hand-img {
  max-height: 30px;
  margin-left: 4px;
  padding-bottom: 5px;
}
.about-section > p {
  font-size: 1.2em;
  letter-spacing: 1.5px;
  font-family: "BookmanRegular";
  margin-bottom: 35px;
}
.about-img {
  max-height: 550px;
  margin-bottom: 10px;
}
.three-messages {
  position: relative;
  bottom: 20px;
  margin-left: 5px;
  /*padding-bottom: 10px;*/
  /*max-height: 20px;*/
}

@media only screen and (max-width: 425px) {
  .wrapper {
    padding: 0 0%;
  }

  .logo {
    margin-left: 0%;
    border-bottom: 1px solid black;
    font-size: 2.8em;
  }

  .intro-text > p {
    font-size: 0.65em;
    margin-bottom: 0.2rem;
  }
  .about-wrapper > section > a {
    font-size: 0.65em;
  }
  .head-img {
    position: relative;
    bottom: 20px;
    max-height: 150px;
  }
  .intro-image {
    padding: 0px;
  }
  .three-messages {
    max-height: 20px;
  }

  .hand-img {
    max-height: 15px;
    margin-left: 1px;
    padding-bottom: 0px;
  }
  .episodes {
    font-size: 2.5em;
  }
  .episode-title {
    font-size: 1em;
    letter-spacing: 3px;
  }
  p.episode-info {
    font-family: BookmanRegular;
    font-size: 1em;
  }
  /* Style adjustments for viewports that meet the condition */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
